<div class="modal-overlay">
    <div class="modal-container">
        <div class="modal-header">
            <h2>{{ noticiaParaEditar ? 'MODIFICAR NOTICIA' : 'CREAR NUEVA NOTICIA' }}</h2>
            <button class="btn-close" (click)="close.emit()">×</button>
        </div>

        <form [formGroup]="noticiaForm" (ngSubmit)="onSubmit()" class="modal-body"
            [class.submitted-form]="formSubmitted">

            <div class="form-grid">
                <div class="form-group full">
                    <label>Título de la Noticia *</label>
                    <input type="text" formControlName="titulo" placeholder="Ej: Gran hallazgo arqueológico">
                </div>

                <!-- Autores -->
                <div class="form-group full">
                    <label>Autores y medios (Opcional)</label>
                    <input type="text" formControlName="autores" placeholder="Ej: Publicado por Gatoblanco" #txtInput>

                    <div class="alignment-toolbar">
                        <button type="button" class="tool-btn" (click)="insertarLinkInput(txtInput, linkDialogInput)">🔗
                            Insertar
                            Link</button>
                    </div>
                </div>
                <!-- Fin Autores -->

                <div class="form-group">
                    <label>Fecha de Publicación *</label>
                    <input type="date" formControlName="fechaPublicacion">
                </div>

                <div class="form-group">
                    <label>Estado de Visibilidad</label>
                    <div class="switch-container">
                        <span>Oculto</span>
                        <label class="switch">
                            <input type="checkbox" formControlName="estado">
                            <span class="slider"></span>
                        </label>
                        <span>Visible</span>
                    </div>
                </div>



                <div class="form-group">
                    <label>Imagen Principal *</label>
                    <label class="btn-file">
                        Seleccionar archivo
                        <input type="file" (change)="handleFileInput($event, 'img1')" accept="image/*">
                    </label>

                    <div class="preview-container">
                        <img [src]="getPreview('img1')" class="preview-img" *ngIf="noticiaForm.value.img1">
                    </div>
                </div>

                <div class="form-group">
                    <label>Descripción Principal *</label>
                    <textarea formControlName="descripcion"></textarea>
                </div>

                <div class="optional-divider"><span>CONTENIDO DE LA NOTICIA</span></div>

                <div class="block-toolbar">
                    <button type="button" class="tool-btn" (click)="addParagraph(-1)">📝 Añadir Párrafo</button>
                    <button type="button" class="tool-btn" (click)="addSubtitle(-1)">🧷 Añadir Subtítulo</button>
                    <button type="button" class="tool-btn" (click)="addImage(-1)">🖼 Añadir Imagen</button>
                    <button type="button" class="tool-btn" (click)="addVideo(-1)">🎥 Añadir Video</button>
                </div>

                <div formArrayName="bloques" class="blocks-container">

                    <div *ngFor="let block of bloques.controls; let i = index" [formGroupName]="i" class="block-item">

                        <button type="button" class="btn-remove" (click)="removeBlock(i)">✕</button>

                        <!-- PÁRRAFO -->
                        <ng-container *ngIf="block.value.type === 'paragraph'">
                            <label class="block-label">Párrafo</label>
                            <div class="alignment-toolbar">
                                <button type="button" (click)="setAlineacion(i, 'left')"
                                    [class.active]="block.value.alineacion === 'left'">
                                    <i class="fas fa-align-left"></i>
                                </button>
                                <button type="button" (click)="setAlineacion(i, 'center')"
                                    [class.active]="block.value.alineacion === 'center'">
                                    <i class="fas fa-align-center"></i>
                                </button>
                                <button type="button" (click)="setAlineacion(i, 'right')"
                                    [class.active]="block.value.alineacion === 'right'">
                                    <i class="fas fa-align-right"></i>
                                </button>
                                <button type="button" (click)="setAlineacion(i, 'justify')"
                                    [class.active]="block.value.alineacion === 'justify'">
                                    <i class="fas fa-align-justify"></i>
                                </button>
                            </div>
                            <textarea formControlName="content" placeholder="Escribe el párrafo..." #txtArea
                                [ngStyle]="{'text-align': block.value.alineacion}"></textarea>

                            <div class="alignment-toolbar">
                                <button type="button" title="Negrita"
                                    (click)="aplicarFormato(i, 'bold', txtArea)"><b>B</b></button>
                                <button type="button" title="Cursiva"
                                    (click)="aplicarFormato(i, 'italic', txtArea)"><i>I</i></button>
                                <button type="button" title="Subrayado"
                                    (click)="aplicarFormato(i, 'underline', txtArea)"><u>U</u></button>

                                <button type="button" class="tool-btn" (click)="insertarLink(i, txtArea, linkDialog)">🔗
                                    Insertar
                                    Link</button>
                            </div>






                            <div>
                                <button type="button" class="tool-btn" (click)="addParagraph(i)">📝 Añadir
                                    Párrafo</button>
                                <button type="button" class="tool-btn" (click)="addSubtitle(i)">🧷 Añadir
                                    Subtítulo</button>
                                <button type="button" class="tool-btn" (click)="addImage(i)">🖼 Añadir Imagen</button>
                                <button type="button" class="tool-btn" (click)="addVideo(i)">🎥 Añadir Video</button>
                            </div>

                        </ng-container>

                        <!-- SUBTÍTULO -->
                        <ng-container *ngIf="block.value.type === 'subtitle'">
                            <label class="block-label">Subtítulo</label>

                            <div class="alignment-toolbar">
                                <button type="button" (click)="setAlineacion(i, 'left')"
                                    [class.active]="block.value.alineacion === 'left'">
                                    <i class="fas fa-align-left"></i>
                                </button>
                                <button type="button" (click)="setAlineacion(i, 'center')"
                                    [class.active]="block.value.alineacion === 'center'">
                                    <i class="fas fa-align-center"></i>
                                </button>
                                <button type="button" (click)="setAlineacion(i, 'right')"
                                    [class.active]="block.value.alineacion === 'right'">
                                    <i class="fas fa-align-right"></i>
                                </button>
                                <button type="button" (click)="setAlineacion(i, 'justify')"
                                    [class.active]="block.value.alineacion === 'justify'">
                                    <i class="fas fa-align-justify"></i>
                                </button>
                            </div>

                            <input type="text" formControlName="content" placeholder="Subtítulo de sección" #subti
                                [ngStyle]="{'text-align': block.value.alineacion}">

                            <div class="alignment-toolbar">
                                <button type="button" title="Negrita"
                                    (click)="aplicarFormatoSubtitulo(i, 'bold', subti)"><b>B</b></button>
                                <button type="button" title="Cursiva"
                                    (click)="aplicarFormatoSubtitulo(i, 'italic', subti)"><i>I</i></button>
                                <button type="button" title="Subrayado"
                                    (click)="aplicarFormatoSubtitulo(i, 'underline', subti)"><u>U</u></button>
                            </div>

                            <div> <button type="button" class="tool-btn" (click)="addParagraph(i)">📝 Añadir
                                    Párrafo</button>
                                <button type="button" class="tool-btn" (click)="addSubtitle(i)">🧷 Añadir
                                    Subtítulo</button>
                                <button type="button" class="tool-btn" (click)="addImage(i)">🖼 Añadir Imagen</button>
                                <button type="button" class="tool-btn" (click)="addVideo(i)">🎥 Añadir Video</button>
                            </div>


                        </ng-container>

                        <!-- IMAGEN -->
                        <ng-container *ngIf="block.value.type === 'image'">
                            <label class="block-label">Imagen</label>

                            <label class="btn-upload">
                                📷 Seleccionar imagen
                                <input type="file" accept="image/*" (change)="handleBlockFile($event, i)">
                            </label>

                            <div class="block-preview" *ngIf="block.value.preview">
                                <img [src]="block.value.preview"
                                    [ngStyle]="{'transform': 'rotate(' + block.value.rotacion + 'deg)'}">

                                <button type="button" class="btn-rotate-left" (click)="rotateImageLeft(i)"
                                    title="Girar 90°">
                                    🔄 Girar a la Izquierda
                                </button>
                                <button type="button" class="btn-rotate-right" (click)="rotateImageRight(i)"
                                    title="Girar 90°">
                                    🔄 Girar a la Derecha
                                </button>
                            </div>

                            <input type="text" formControlName="caption" placeholder="Pie de imagen (opcional)">

                            <div class="alignment-toolbar">
                                <button type="button" class="tool-btn" (click)="addParagraph(i)">📝 Añadir
                                    Párrafo</button>
                                <button type="button" class="tool-btn" (click)="addSubtitle(i)">🧷 Añadir
                                    Subtítulo</button>
                                <button type="button" class="tool-btn" (click)="addImage(i)">🖼 Añadir Imagen</button>
                                <button type="button" class="tool-btn" (click)="addVideo(i)">🎥 Añadir Video</button>
                            </div>

                        </ng-container>

                        <!-- VIDEO -->
                        <ng-container *ngIf="block.value.type === 'video'">
                            <label class="block-label">Video</label>

                            <label class="btn-upload">
                                🎥 Seleccionar video
                                <input type="file" accept="video/*" (change)="handleBlockVideo($event, i)">
                            </label>

                            <div class="block-preview" *ngIf="block.value.preview">
                                <video controls [src]="block.value.preview"></video>
                            </div>

                            <input type="text" formControlName="caption" placeholder="Descripción del video (opcional)">

                            <div class="alignment-toolbar">
                                <button type="button" class="tool-btn" (click)="addParagraph(i)">📝 Añadir
                                    Párrafo</button>
                                <button type="button" class="tool-btn" (click)="addSubtitle(i)">🧷 Añadir
                                    Subtítulo</button>
                                <button type="button" class="tool-btn" (click)="addImage(i)">🖼 Añadir Imagen</button>
                                <button type="button" class="tool-btn" (click)="addVideo(i)">🎥 Añadir Video</button>
                            </div>
                        </ng-container>

                    </div>
                </div>



                <div class="form-group full">
                    <label>Link de publicación en Twitter (Opcional)</label>
                    <input type="text" formControlName="link_twitter" placeholder="https://twitter.com/...">
                </div>

                <div class="optional-divider"><span>AUTORÍAS</span></div>

                <div formArrayName="autorias" class="blocks-container">

                    <div *ngFor="let autoria of autorias.controls; let i = index" [formGroupName]="i"
                        class="block-item">

                        <button type="button" class="btn-remove" (click)="removeAutoria(i)">✕</button>

                        <!-- PÁRRAFO -->
                        <ng-container>

                            <label class="block-label">Fotografía</label>

                            <label class="btn-upload">
                                📷 Seleccionar fotografía
                                <input type="file" accept="image/*" (change)="handleAutoriaFile($event, i)">
                            </label>

                            <div class="block-preview" *ngIf="autoria.value.preview">
                                <img [src]="autoria.value.preview">
                            </div>

                            <label class="block-label">Descripción de la autoría</label>
                            <textarea formControlName="descripcion"
                                placeholder="Descripción de la autoría..."></textarea>

                        </ng-container>

                    </div>
                </div>

                <div class="block-toolbar">
                    <button type="button" class="tool-btn" (click)="addAutoria()">📝 Añadir Autoría</button>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn-cancel" (click)="close.emit()">CANCELAR</button>
                <button type="submit" class="btn-save" [disabled]="isSubmitting">
                    {{ isSubmitting ? 'PROCESANDO...' : (noticiaParaEditar ? 'ACTUALIZAR' : 'GUARDAR') }}
                </button>
            </div>
        </form>
    </div>
</div>

<app-loading *ngIf="isLoading"></app-loading>

<dialog #linkDialog class="link-modal">
    <h3>Insertar enlace</h3>

    <input #linkInput type="url" placeholder="https://ejemplo.com" class="link-input">

    <div class="actions">
        <button class="btn primary" (click)="confirmarLink(linkDialog, linkInput)">
            Insertar
        </button>
        <button class="btn secondary" (click)="cancelarLink(linkDialog, linkInput)">
            Cancelar
        </button>
    </div>
</dialog>

<dialog #linkDialogInput class="link-modal">
    <h3>Insertar enlace</h3>

    <input #linkInput2 type="url" placeholder="https://ejemplo.com" class="link-input">

    <div class="actions">
        <button class="btn primary" (click)="confirmarLinkInput(linkDialogInput, linkInput2)">
            Insertar
        </button>
        <button class="btn secondary" (click)="cancelarLink(linkDialogInput, linkInput2)">
            Cancelar
        </button>
    </div>
</dialog>