.page-wrapper {
    min-height: 100vh;
    /* Ocupa toda la altura de la ventana */
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    /* Empuja el footer hacia abajo si hay poco contenido */
}

/* Heredamos la base de tu navbar anterior */
.navbar.admin-nav {
    background-color: #000;
    color: #fff;
    padding: 12px 200px;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid #333;
    /* Línea sutil para separar del admin */
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img {
    height: 90px;
    /* Ajusta la altura a tu gusto */
    width: auto;
    /* Mantiene la proporción */
    display: block;
}

/* --- Sección Perfil --- */
.admin-profile-section {
    display: flex;
    align-items: center;
    gap: 30px;
}

.user-info {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.user-name {
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.user-role {
    font-size: 0.75rem;
    color: #888;
    text-transform: uppercase;
    font-weight: 300;
}

/* --- Botón Cerrar Sesión --- */
.btn-logout {
    background: none;
    border: 1px solid #444;
    color: #fff;
    padding: 8px 18px;
    cursor: pointer;
    font-size: 0.75rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.btn-logout:hover {
    background-color: #fff;
    color: #000;
    border-color: #fff;
}

.footprint-logout {
    width: 18px;
    height: 18px;
    background-image: url('/images/huella_inv.png');
    background-size: contain;
    background-repeat: no-repeat;

    transition: 0.3s;
}

.btn-logout:hover .footprint-logout {
    opacity: 1;
    filter: invert(1);
    /* Para que sea negra cuando el fondo es blanco */
}

/* --- RESPONSIVO --- */
@media (max-width: 970px) {
    .admin-profile-section {
        gap: 10px;
    }

    .navbar.admin-nav {
        padding: 15px 20px;
    }

    .user-name,
    .user-role {
        font-size: 0.8rem;
    }

    .btn-logout {
        padding: 8px;
        gap: 2px;
    }

    .logo-img {
        height: 70px;
        /* Ajusta la altura a tu gusto */
        width: auto;
        /* Mantiene la proporción */
        display: block;
        margin: -5px;

        z-index: 1000;
    }
}

@media (max-width: 470px) {
    .logo-img {
        height: 50px;
        /* Ajusta la altura a tu gusto */
        width: auto;
        /* Mantiene la proporción */
        display: block;
        margin: -5px;
        margin-left: -20px;
    }

    .user-name,
    .user-role {
        font-size: 0.7rem;
    }
}