.section-title {
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0px;
    letter-spacing: 0px;
    font-weight: 600;
    padding-left: 200px;
}

@media (max-width: 970px) {
    .section-title {
        font-size: 1.8rem;
        margin-bottom: 20px;
        font-weight: 600;
        padding-left: 0px;
    }
}

@media (max-width: 470px) {
    .section-title {
        font-size: 1.2rem;
        margin-bottom: 20px;
        font-weight: 600;
    }
}