<div class="modal-overlay">
    <div class="modal-card">
        <div class="modal-icon-container success">
            <i class="fas fa-check-circle"></i>
        </div>

        <div class="modal-content">
            <h3>{{preMensaje}} <span class="warning-text">{{ objetoNombre }}</span> {{sufMensaje}}</h3>
        </div>

        <div class="modal-actions">
            <button class="btn-primary" (click)="confirmar()">
                ACEPTAR
            </button>
        </div>
    </div>
</div>