<footer class="main-footer">
    <div class="footer-container">

        <div class="footer-brand">
            <div class="footer-logo-group">
                <img src="images/gatoblanco.png" alt="GatoBlanco Logo" class="footer-logo-img">
                <span class="brand-text">GATO BLANCO PERIODISMO<small>© 2026 Derechos Reservados</small></span>
            </div>
        </div>

        <div class="footer-social">
            <a href="https://www.facebook.com/profile.php?id=61563907375416" target="_blank" aria-label="Facebook">
                <img src="images/facebook.png" alt="Facebook" class="social-icon">
            </a>
            <a href="https://x.com/GatoBlancoBo" target="_blank" aria-label="Twitter">
                <img src="images/twitter.png" alt="Twitter" class="social-icon">
            </a>
            <a href="https://www.instagram.com/gatoblancoperiodismo" target="_blank" aria-label="Instagram">
                <img src="images/instagram.png" alt="Instagram" class="social-icon">
            </a>
            <a href="https://www.tiktok.com/@gatoblanco.bo?_t=8oZiMKOnm1F&_r=1" target="_blank" aria-label="Tiktok">
                <img src="images/tiktok.png" alt="Tiktok" class="social-icon">
            </a>
            <a href="https://www.youtube.com/@GatoBlancoPeriodismoBo" target="_blank" aria-label="Youtube">
                <img src="images/youtube.png" alt="Youtube" class="social-icon">
            </a>
        </div>

        <div class="footer-back-top">
            <button (click)="scrollToTop()" class="btn-back-top">
                VOLVER ARRIBA
                <span class="footprint-up"></span>
            </button>
        </div>

    </div>
</footer>