/* You can add global styles to this file, and also import other style files */
body {
    box-sizing: border-box;
    margin: 0;
    background-color: #F9F9F9;
    font-family: "voga-regular-2", sans-serif;
}